<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <title>songs</title>
    <link rel="stylesheet" href="songs.css" />
</head>

<body>
<header>

</header>
<main>
    <div class="songHolder">
        <div th:each="song : ${song}" >
            <p>Song title :<span th:text="${song.title}"></span></p>
            <p>Song length :<span th:text="${song.length}"></span></p>
            <p>Track number :<span th:text="${song.trackNumber}"></span></p>
            <p>Album name :<span th:text="${song.album.title}"></span></p>
        </div>
    </div>
</main>
</body>

</html>